<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/stylesheet-mobile.css">
        
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Slovník - Joranština</title>        
    </head>

    <body>
        <header>
            <form action = "/", id = "headerLogo">
                <a href = "#" onclick = "document.getElementById('headerLogo').submit()">
                    <div class="logo">JORANŠTINA</div>
                </a>
            </form>
        </header>

        <main>

            <form class = "dictionary-input" action = "/dictionary" method = "POST">
                <div class = "query-line">    
                    <label for="inputword">Slovo:</label>
                    <input type="text" autocomplete="off" id="inputWord" name="inputWord" spellcheck="false" required autofocus>
                </div>
                    <button type="submit">Překlad</button>
            </form>

            {% if displayInput != False %}
                <section class = translation-input>
                    <h1>Hledáno: "{{displayInput}}"</h1>
                </section>
            {% endif %}

            <section class = "translations">
                {% if wordList != 0 %}
                    
                    {% for row in wordList %}
                        <div class = "translations-line">
                            <h1>{{row[0]}}</h1>
                            <p>{{row[1]}}</p>
                        </div>
                    {% endfor %}
                
                    {% else %}
                    <h1>---NENALEZENO---</h1>
                {% endif %}
            </section>
        </main>

        <footer>
            Website by Matej Veselovský 2022
            <a href="https://github.com/matej-veselovsky/yorani">
                <img src="../static/GitHub-Mark-Light-32px.png">
            </a>
        </footer>
    </body>
</html>