<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/stylesheet.css">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Slovník - Joranština</title>        
    </head>

    <body>
        <header>
            <form action = "/", id = "headerLogo">
                <a href = "#" onclick = "document.getElementById('headerLogo').submit()">
                    <div class="logo">JORANŠTINA</div>
                </a>
            </form>
        </header>

        <main>

            <form class = "dictionary-input" action = "/dictionary" method = "POST">
                <div>
                    <label for="inputword">Slovo:</label>
                    <input type="text" autocomplete="off" id="inputWord" name="inputWord" required autofocus>
                    <button type="submit">Překlad</button>
                </div>

                <label for="ctoy">
                    <input type="radio" name="direction" value="ctoy" 
                    checked="checked">
                    Čeština → Joranština
                </label>
                <label for="ytoc">
                    <input type="radio" name="direction" value="ytoc">
                    Joranština → Čeština
                </label>
            </form>
            <br>
            {% if wordList != 0 %}
                
                {% for translation in wordList %}
                    <h1>{{translation[0]}}</h1>
                {% endfor %}
            
                {% else %}
                <h1>---NENALEZENO---</h1>
            {% endif %}

        </main>

        <footer>
            Website by Matej Veselovský 2022
        </footer>
    </body>
</html>