<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/stylesheet-mobile.css">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Joranština</title>
    </head>
    
    <body>
        <header>
            <form action = "/", id = "headerLogo">
                <a href = "#" onclick = "document.getElementById('headerLogo').submit()">
                    <div class="logo">JORANŠTINA</div>
                </a>
            </form>
        </header>
        
        <main>
            
            <section class="dictionary">
                <img class="image" src="../static/dictionary.jpg" alt="Dictionary">
                <div class="description-dictionary">
                    <h1>O slovníku</h1>
                    <p>Česko-joranský slovník, který obsahuje více než 35 000 unikátních hesel. Databáze je pravidelně doplňována tvůrcem joranštiny Lukášem Tomáškem.</p>
                    <form action = "/dictionary">
                        <button class="button translator" type = "submit">Překladač</button>
                    </form>
                </div>
            </section>

            <section class="pieces">
                <div class="boxes">
                    <a href="#"><div class="one-box grammar">Gramatika</div></a>
                    <a href="#"><div class="one-box history">Historie jazyka</div></a>
                </div>
            </section>
        </main>
        
        <footer>
            Website by Matej Veselovský 2022
            <a href="https://github.com/matej-veselovsky/yoranish">
                <img src="../static/GitHub-Mark-Light-32px.png">
            </a>
        </footer>
    </body>
</html>