<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/stylesheet.css">
        <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
        <title>Joranština</title>
    </head>
    
    <body>
        <header>
            <form action = "/", id = "headerLogo">
                <a href = "#" onclick = "document.getElementById('headerLogo').submit()">
                    <div class="logo">JORANŠTINA</div>
                </a>
            </form>
        </header>
        
        <main>
            
            <section class="dictionary">
                <img class="image" src="../static/dictionary.jpg" alt="Dictionary">
                <div class="description-dictionary">
                    <h1>Lorem ipsum</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce nibh. Integer malesuada. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Aenean placerat. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit.</p>
                    <form action = "/dictionary">
                        <button class="button translator" type = "submit">Překladač</button>
                    </form>
                </div>
            </section>

            <section class="pieces">
                <div class="description-pieces">
                    Zjistěte o joranštině víc.
                </div>
                <div class="boxes">
                    <a href="#"><div class="one-box">Gramatika</div></a>
                    <a href="#"><div class="one-box">Historie jazyka</div></a>
                </div>
            </section>

            <section class="quote">
                <div class="quote-text">
                    <p>„Joranština vám otevře nové obzory. Je to jazyk, který ovlivňuje životy.“ </p>
                    <p class="author">- Lukáš Tomášek</p>
                </div>
            </section>

        </main>
        
        <footer>
            Website by Matej Veselovský 2022
        </footer>
    </body>
</html>